/*************** Universal styles ***************/
/***** Box styiling *****/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.boxed {
    width: 70vw;
}
.bordered { 
    border: 1px dotted black;
    /* Content-sizing for developement can be added below */
    min-width: 50px;
    min-height: 50px;
}
.bordered-white { 
    border: 1px dotted white;
    /* Content-sizing for developement can be added below */
    min-width: 50px;
    min-height: 50px;
}
/***** Flexing and variables *****/
.flexed {
    display: flex;
}
:root {
    --fbg-color: rgb(60, 60, 60);
}

/*************** Header styles ***************/
header {
    height: 50rem;
}
header>section :first-of-type {
    background-color: aquamarine;
    height: 15rem;
}