/*************** Universal styles ***************/
/***** Box styiling *****/
* {
    box-sizing: border-box;
    margin: 0% 0%;
    padding: 0%;
}
header,
main,
footer {
    width: 100vw;
}
.boxed {
    width: 70%;
    margin: auto;
}
/***** Borders *****/
.bordered { 
    border: 1px dashed black;
    /* Content-sizing for developement can be added below */
    min-width: 50px;
    min-height: 50px;
}
.bordered-white { 
    border: 1px dashed white;
    /* Content-sizing for developement can be added below */
    min-width: 50px;
    min-height: 50px;
}
/***** Flexing and variables *****/
.flexed {
    display: flex;
    justify-content: space-between;
}
:root {
    --fbg-color: rgb(60, 60, 60);
}


/*************** Header styles ***************/
header {
    background-color: aquamarine;
    padding-bottom: 1px; /* To replicate design given exactly, likely useless */
}
/***** First section *****/
header>section:first-child {
    padding: 1rem 0%;
}
header nav {
    background-color: orange;
}
nav>div {
    width: 20%;
}
.nav-links {
    height: 3rem;
    width: 60%;
}
/***** Second section *****/
header>section:last-child {
    background-color: blue;
    padding: 2rem 0%;
}
header>section:last-child>div {
    background-color: magenta;
    margin: 0% auto;
    width: 60%;
    height: 20rem;
}